<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<h2>入力画面</h2>
	<form action="./output.html" th:action="@{/echo}" th:object="${echoForm}" method="POST">
		<div>テキストを入力してください：</div>
		<div>
			<input type="text" name="text" th:field="*{text}"/><br />
			<span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">textのエラーメッセージ</span>
		</div>
		<br />
		<div>
			<select id="selectTest" name="selectTest">
				<option th:each="tst : ${echoForm.selectTestList}" th:value="${tst.id}" th:selected="${selectTest}" th:inline="text">[[${tst.name}]]</option>
			</select>
			<span th:if="${#fields.hasErrors('selectTest')}" th:errors="*{selectTest}">testSelectのエラーメッセージ</span>
		</div>
		<br/>
		<div>
			<input type="checkbox" 	name="checkTest" value="true" th:field="${echoForm.checkTest}"/>
			<span th:if="${#fields.hasErrors('checkTest')}" th:errors="checkTest">testCheckBoxのエラーメッセージ</span>
		</div>
		<br/>
		<div th:each="item : ${echoForm.checkBoxesList}">
			<input type="checkbox" name="checkBoxesTest" th:value="${item.id}" th:text="${item.name}" th:field="*{checkBoxesTest}"/>
			<span th:if="${#fields.hasErrors('checkBoxesTest')}" th:errors="checkBoxesTest">checkBoxesTestのエラーメッセージ</span>
		</div>
		<br/>
		<div>
			<button type="submit">送信</button>
		</div>
	</form>
	<br/>
	<div>
		<a href="../index.html" th:href="@{/}">トップ画面へ戻る</a>
	</div>
</body>
</html>