<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<h2>入力画面</h2>
	<form action="./output.html" th:action="@{/echo}" th:object="${echoForm}" method="POST">
		<div>テキストを入力してください：</div>
		<div>
			<input type="text" name="text" th:field="*{text}"/><br />
			<span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">textのエラーメッセージ</span>
		</div>
		<br />
		<div>
			<select id="selectTest" name="selectTest">
				<option th:each="tst : ${echoForm.selectTestList}" th:value="${tst.id}" th:selected="${selectTest}" th:inline="text">[[${tst.name}]]</option>
			</select>
			<span th:if="${#fields.hasErrors('selectTest')}" th:errors="*{selectTest}">testSelectのエラーメッセージ</span>
		</div>
		<br/>
		<!--
		<div>
			<form:checkbox path="checkTest" items="${echoForm.checkTest}" label="チェックボックスのテスト"/>
			<form:errors path="checkTest" />
		</div>
		<br/>
		<div>
			<form:checkboxes path="checkBoxesTest" items="${echoForm.checkBoxesList}" itemLabel="name" itemValue="id" delimiter=" "/>
			<form:errors path="checkBoxesTest" />
		</div>
		<br/>
		 -->
		<div>
			<button type="submit">送信</button>
		</div>
	</form>
</body>
</html>