<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<h2>出力画面</h2>
	<div>入力したテキストは・・・</div>
	<div>
		<span th:text="*{echoForm.text}">ここに入力した値が表示される</span>
	</div>
	<br />
	<div>選択されたIDは</div>
	<div>
		<span th:text="*{echoForm.selectTest}">selectTestの結果</span>
	</div>
	<!-- 
	<br/>
	<div>チェックボックスは</div>
	<div>
		<span><c:out value="${echoForm.checkTest}" /></span>
	</div>
	<br/>
	<div>複数選択チェックボックスは</div>
	<div>
		<c:forEach items="${echoForm.checkBoxesTest}" var="id">
   			<c:out value="${id}" />
  		</c:forEach>
	</div>
	-->
	<div>です。</div>
	<br />
	<div>
		<a href="../index.html" th:href="@{/}">トップ画面へ戻る</a>
	</div>
</body>
</html>